{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
   
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Authentication</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'authentication/main.css' %}">
    </head>
    <nav>
        <a>E-commerce store</a>
        <a style="color:white;float:right;text-align:center;"href="/profile">Profile</a> 
        <form action ="{% url 'search' %}" method="GET" class="search-form">
            <input type="search" name="query" placeholder="Search">
            <button type="submit">Search</button>
        </form>
        
    </nav>
    <body style="background-color:lightgreen">

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
    
    <h3 style="padding:105px 346px 100px;">Welcome to E-Commerce Store</h3>
    

    {% if user.is_authenticated %}
    <h4>Hello {{user}}</h4>
    <h5>You are successfully logged in</h5>
    {% endif %}
    
    {% for item in items %}
    <div class="box">
        <h1 style="font-size:25px;color:red;padding:10px 5px 5px 40px;">{{item.name}}</h1>
        <div>
            <img src="{{MEDIA_URL}}{{item.img.url}}" width="200" height="100">
        </div>
        <h2 style="font-size:15px;color:black;padding:5px 5px 0px 10px;">{{item.description}}<br><br>Price:{{item.price}}<br><br>No.of Available pcs:{{item.quantity}}</h2>
        <button>Add to Cart</button>  
    </div>   
    {% endfor %}
        
   
    
    
