{% extends 'base.html' %}

{% block content %}
{% load admin_list %}
{% load cart %}

<div class="container-fluid mt-3">
    <div class="row mx-auto">
        {% for item in items %}
        <div class="card mx-auto" style="width: 18rem;">
            <img class="card-img-top" src="{{media_URL}}{{item.img.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text"><b>{{item.price}}</b></p>
               
             
            </div>
            <div class="card-footer row p-0 no-gutters">
                {% if item|is_in_cart:request.session.cart %}
                <div class="row">
                    <form action="/post" class="col-2" method="POST">
                        {% csrf_token %}
                        <input hidden type="text" name='item' value='{{item.id}}'>
                        <input hidden type="text" name='remove' value='True'>
                        <input href="/post" type="submit" value="-" class=" btn btn-block btn-secondary">
                        </form>
                    
                    <div class="text-center col">{{item|cart_count:request.session.cart}} in Cart</div>
                    <form action="/post" class="col-2" method="POST">
                    {% csrf_token %}
                    <input hidden type="text" name='item' value='{{item.id}}'>
                    <input href="/post" type="submit" value="+" class=" btn btn-block btn-secondary">
                    </form>
                </div>
                {% else %}
                <form action="/post" method="POST" class="btn-block">
                    {% csrf_token %}
                    <input hidden type="text" name='item' value='{{item.id}}'>
                    <input href="/post" type="submit" class="float-right btn btn-light border form-control" value="Add To Cart">
                 </form>
                {% endif %}

        </div>
        </div>
        {% endfor %}
    </div>
    <div>
{% endblock %}