    h1 {
        color: brown;
        padding: 50px 100px 100px 100px;
        font-size: 40px;
    }
    
    h3 {
        color: rgb(0, 128, 94);
        margin-top: 6px;
        margin-bottom: 25px;
        margin-right: 6px;
        margin-left: 6px;
        font-size: 50px;
    }
    
    .button {
        background-color: gold;
        border: navy;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    input {
        width: 50%
    }
    
    label {
        color: black;
        display: block;
        padding: 5px;
        margin: 4px;
    }
    
    h4 {
        color: brown;
        font-size: 30px;
    }
    
    .message {
        font-size: 20px;
        color: black;
    }
    
    nav {
        height: 50px;
        float: right;
        height: 30px;
        width: 100%;
        background-color: blue;
    }
    
    a {
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 7px;
        font-size: 20px;
        color: white;
    }
    
    image {
        height: 100px;
        width: 100px;
        float: right;
    }
    
    div {
        background-color: lightgrey;
        display: inline-block;
        height: 100px;
        width: 200px;
        border: 5px solid rgb(76, 0, 255);
        padding: 20px;
        margin: 2px;
    }
    
    .box {
        height: 350px;
        width: 350px;
    }
    
    .search-form {
        margin-top: 5px;
        float: right;
        margin-right: 10px;
    }
    
    .sidebar {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 16px;
    }